{% extends "pet_list.html" %}{% block content %}
<div class="container">
  <h1 class="display-1 text-center">Add New Pet</h1>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <form action="/add" method="POST">
        {{ form.hidden_tag() }} {% for field in form if field.widget.input_type != 'hidden'%}

        <div class="form-group">
          {{field.label}} {{field(class_="form-control", required=False)}} {% for err in field.errors %}
          <small class="form-text text-danger"> {{err}} </small>
          {% endfor %}
        </div>
        {% endfor %}

        <button class="btn btn-success btn-lg">Submit</button>
        <a href="/" class="btn btn-danger btn-lg">Go Back</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}

<!-- ANOTHER WAY TO ADD INPUTS TO TEMPLATE WITH MORE CONTROL OVER INDIVIDUAL INPUT STYLE'S CLASSES ETC. -->

<!-- {{form.name.label(class_="text-danger")}}
{{form.name(class_="form-control form-control-lg")}} 

{{form.species.label(class_="text-primary")}} 
{{form.species(class_="form-control form-control-lg")}}

{{form.age.label(class_="text-success")}} 
{{form.age(class_="form-control form-control-lg")}} -->

<!-- Can render them out this way, one at a time rather than looping through all and applying the same styling to all
REPLACES LINE 8 - 15 aka filling the form one input at a time rather than looping through all-->
